@import "./Color.scss";
@import "./Mixin.scss";

.container {
  @include fullContainer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header {
  @include fullContainer;
  text-align: center;

  h1 {
    @include fontStyle($main-color, 40px, bold);
  }

  .sub-header {
    @include fontStyle($sub-color, 20px, bold);
  }
}

.top-bar {
  @include fullContainer;
  @include flex(row, center, center);
  margin-top: 50px;
  height: 40px;

  header {
    text-align: center;
    @include fontStyle($sub-color, 17px, bold);
  }

  .arrow-icon {
    position: absolute;
    left: 0;
    margin-left: 30px;
    font-size: 21px;
  }
}
