@mixin fullContainer {
    width: 100%;
    height: auto;
  }
  
  @mixin flex($flexDirection, $justifyContent, $alignItems) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
  }
  
  @mixin fontStyle($fontColor, $fontSize, $fontWeight) {
    color: $fontColor;
    font-size: $fontSize;
    font-weight: $fontWeight;
  }
  